html {
  background-color: rgb(207, 207, 207);
}
body {
  font-family: sans-serif;
}
.login-box {
  position: absolute;
  top: 35%;
  left: 47%;
  margin-top: -50px;
  margin-left: -50px;
}

.login-box input[type="text"],
select,
input[type="password"] {
  width: 150%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.login-box input[type="submit"] {
  width: 150%;
  background-color: rgb(74, 185, 213);
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.login-box input[type="submit"]:hover {
  background-color: #50b9e9;
}
.login-box h1 {
  float: left;
  font-size: 40px;
  border-bottom: 2px solid rgb(74, 185, 213);

  margin-bottom: 50px;
  padding: 13px;
}
