* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

p,
li,
input[type="text"],
input[type="submit"],
label,
button {
  font-family: "Mulish", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Slabo 27px", serif;
}

.pagina {
  height: auto;
  width: 100%;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(75, 189, 217);
  height: 69px;
  width: 100%;
}

.navbar p {
  color: white;
  font-size: 17px;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 15%;
}

.link {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  width: 35%;
}

.link a {
  text-decoration: none;
}

.afbeelding {
  display: flex;
  justify-content: center;
  align-items: center;
}
.afbeeldingtekst {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  font-size: 16px;
  color: rgb(75, 189, 217);
  background-color: white;
  opacity: 0.6;
  height: 25%;
  width: 65%;
  border-radius: 65px;
}

.afbeelding img {
  height: auto;
  width: 100%;
  max-height: 100%;
  max-width: 100%;
}

.indexonder {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: nowrap;
  height: auto;
  width: 100%;
  background-color: rgb(75, 189, 217);
  padding: 50px;
}

.tekstblok {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 250px;
  width: 250px;
  background-color: white;
  opacity: 0.9;
  border-radius: 65px;
  color: rgb(75, 189, 217);
  padding: 20px;
  font-size: 20px;
  text-align: center;
}

.contactcontainer {
  display: flex;
  flex-wrap: wrap;
  height: auto;
  width: 100%;
}
.afbeeldingcontact {
  height: 523px;
  width: 100%;
}

.afbeeldingcontact img {
  max-height: 100%;
  max-width: 100%;
}

.tekstcontact {
  display: flex;
  flex-wrap: nowrap;
  height: auto;
  width: 100%;
  background-color: rgb(75, 189, 217);
  color: white;
  font-size: 18px;
}

.contactlinks {
  display: flex;
  flex-wrap: wrap;
  height: auto;
  width: 50%;
}

.contactlinksboven {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
  width: 100%;
  font-size: 20px;
}
.contactlinksonder {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
  width: 100%;
}

.contactlinksonder li {
  padding: 25px;
}

.contactrechts {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 50%;
}

.contactrechts form {
  padding: 20px;
}

.contactrechts input[type="text"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 25px;
  background-color: black;
  width: 100%;
}

footer p {
  font-size: 15px;
  color: white;
}
